@model DoAn.Areas.Admin.Models.DongDienThoaiModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DongDienThoaiModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDT" class="control-label"></label>
                <input asp-for="MaDT" class="form-control" />
                <span asp-validation-for="MaDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDongDT" class="control-label"></label>
                <input asp-for="TenDongDT" class="form-control" />
                <span asp-validation-for="TenDongDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
