@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <center><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></center>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<input class="form-control" type="text" id="UserName" name="UserName" placeholder="User Name" />
<input class="form-control" type="password" id="Password" name="Password" placeholder="Password" />
<button class="btn btn-primary" onclick="Login()" name="abc" value="submit">Login</button>

<p id="demo"></p>


@section Scripts {
    <!--Kiểm tra tài khoản và mật khẩu rỗng-->
    <script>
        function validate() {
            var n1 = document.getElementById("UserName");
            var n2 = document.getElementById("Password");
            if (n1.value == "" && n2.value == "") {
                //if (n1.value == n2.value) {
                //    return true;
                //}
                $('#form-modal .modal-body').html("Không được để trống tài khoản hoặc mật khẩu !!!");
                $('#form-modal .modal-title').html("Thông báo");
                $('#form-modal').modal('show');
               
            }
        }
    </script>

    <script>
        function Login() {
            var username = $("#UserName").val();
            var pass = $("#Password").val();

            $.ajax({
                method: "GET",
                url: "../api/LoginAPI/GetAccount",
                data: {
                    'username': username,
                    'password': pass
                },
            

                success: function (status) {
                    //Neu ghi JSON.stringify(status) luc nay thi status co gtr la:
                    //"{\"TenTK\":\"Admin\",\"MatKhau\":\"123\",\"LoaiTK\":0}" nen phai thuc hien JSON.parse()

                    var statusAfter = JSON.parse(status); //Luc nay statusAfter co kdl la JSON va gtr la:
                    //{ "TenTK": "Admin", "MatKhau": "123", "LoaiTK": 0 }

                    //Kiem tra tai khoan co ton tai hay khong

                    if (statusAfter != null) {
                        if (statusAfter != null) {
                            if (statusAfter.LoaiTK == 0) window.location.href = '@Url.Action("","Admin")';
                            else if (statusAfter.LoaiTK == 1) window.location.href = '@Url.Action("List","Home")';
                        }
                    }
                    else {
                        $('#form-modal .modal-body').html("Sai tài khoản hoặc mật khẩu rồi bro ơi :((((");
                        $('#form-modal .modal-title').html("Thông báo");
                        $('#form-modal').modal('show');
                        $("#UserName").val("");
                        $("#Password").val("");
                    }
                    @*
                    var myJSON = JSON.stringify(status);  //cach chuyen tu JSON sang string
                    document.getElementById("demo").innerHTML = myJSON;*@
                }

            })


        };
    </script>


}