@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}





<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">

</head>
<body>


    <!-- Modal -->
    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></center>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

                <span class="login100-form-title p-b-49">
                    Login
                </span>

                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" id="UserName" name="UserName" placeholder="Type your username">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" id="Password" name="Password" placeholder="Type your password">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>



                <div style="margin: 2vw;" class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" onclick="Login()">
                            Login
                        </button>
                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m">
                    
                    <!--Login FB-->
                    <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true"></div>
                    
                    <!--End Login FB-->
                </div>



            </div>
        </div>
    </div>





    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/login/vendor/animsition/js/animsition.min.js"></script>

    <script src="~/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/login/vendor/select2/select2.min.js"></script>

    <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>

    <script src="~/login/vendor/countdowntime/countdowntime.js"></script>

    <script src="~/login/js/main.js"></script>





    <!------------------------------------------------------------------------------------------------------------>
    <!--Tải và khởi chạy JavaScript SDK trong trang HTML-->
    <script>
        function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
            console.log('statusChangeCallback');
            console.log(response);                   // The current login status of the person.
            if (response.status === 'connected') {   // Logged into your webpage and Facebook.
                testAPI();
            } else {                                 // Not logged into your webpage or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                    'into this webpage.';
            }
        }


        function checkLoginState() {               // Called when a person is finished with the Login Button.
            FB.getLoginStatus(function (response) {   // See the onlogin handler
                statusChangeCallback(response);
            });
        }


        window.fbAsyncInit = function () {
            FB.init({
                appId: '444705446538678',
                cookie: true,                     // Enable cookies to allow the server to access the session.
                xfbml: true,                     // Parse social plugins on this webpage.
                version: 'v9.0'           // Use this Graph API version for this call.
            });


            FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                statusChangeCallback(response);        // Returns the login status.
            });
        };

        function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                    'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>

    <!-- Load the JS SDK asynchronously -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <!--JavaScript SDK FB-->
    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=444705446538678&autoLogAppEvents=1" nonce="CKhi81FO"></script>
    <!--End tải và khởi chạy JavaScript SDK trong trang HTML-->
    <!------------------------------------------------------------------------------------------------------------>
    <!--Kiểm tra tài khoản và mật khẩu rỗng-->
    <script>
            function Login() {
            var username = $("#UserName").val();
            var pass = $("#Password").val();

                if (username == "" || pass == "") {
                    $('#form-modal .modal-body').html("Không được để trống tài khoản hoặc mật khẩu !!!");
                    $('#form-modal .modal-title').html("Thông báo");
                    $('#form-modal').modal('show');
                }
                else {
                    $.ajax({
                        method: "GET",
                        url: "../api/LoginAPI/GetAccount",
                        data: {
                            'username': username,
                            'password': pass
                        },


                        success: function (status) {
                            //Neu ghi JSON.stringify(status) luc nay thi status co gtr la:
                            //"{\"TenTK\":\"Admin\",\"MatKhau\":\"123\",\"LoaiTK\":0}" nen phai thuc hien JSON.parse()

                            var statusAfter = JSON.parse(status); //Luc nay statusAfter co kdl la JSON va gtr la:
                            //{ "TenTK": "Admin", "MatKhau": "123", "LoaiTK": 0 }
                            //Kiem tra tai khoan co ton tai hay khong
                            if (statusAfter != null) {
                                if (statusAfter.LoaiTK == 0) window.location.href = '@Url.Action("","Admin")';
                                else if (statusAfter.LoaiTK == 1) window.location.href = '@Url.Action("List","Home")';
                            }

                            else {
                                $('#form-modal .modal-body').html("Sai tài khoản hoặc mật khẩu rồi bro ơi :((((");
                                $('#form-modal .modal-title').html("Thông báo");
                                $('#form-modal').modal('show');
                                $("#UserName").val("");
                                $("#Password").val("");
                            }
                    @*
                    var myJSON = JSON.stringify(status);  //cach chuyen tu JSON sang string
                    document.getElementById("demo").innerHTML = myJSON;*@
                        }

                    });
                }

            }


    </script>
    

</body>
</html>







