<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard - Voler Admin Dashboard</title>
<link href="~/template/assetsadmin/css/bootstrap.css" rel="stylesheet" />
<link href="~/template/assetsadmin/vendors/chartjs/Chart.min.css" rel="stylesheet" />
<link href="~/template/assetsadmin/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/template/assetsadmin/css/app.css" rel="stylesheet" />
<link href="~/template/assetsadmin/images/favicon.svg" rel="stylesheet" type="image/x-icon" />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
